<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 

    <link href="/css/nunito_fonts.css" rel="stylesheet" />
    <link href="~/css/lite-purple.min.css" rel="stylesheet">
    <link href="~/css/layout-main.css" rel="stylesheet">
    @RenderSection("Styles", required: false)
</head>

<body class="bg-light">

    <div class="container py-5 p-lg-5 p-md-5 p-sm-0">
 

        @RenderBody()

    </div>

    <environment names="Development,Staging,Production">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/js/jquery.mask.min.js"></script>
        <script src="~/js/bootstrap-show-password.min.js"></script>
        <script src="~/js/common/btnSubmitHandler.js" asp-append-version="true"></script>
        <partial name="_ValidationScriptsPartial" />
        @await RenderSectionAsync("Scripts", required: false)
        @await Component.InvokeAsync("Notyf")
    </environment>

</body>

</html>
